.card {
  border: 1px solid grey;
  width: 27rem;
  border-radius: 16px;
  margin: 30px auto;
  cursor: pointer;
}

.balance {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: bold;
  margin-left: 5px;
}
